<p>Kresťanský zbor v Prievidzi je dobrovoľné zhromaždenie kresťanov veriacich v&nbsp;Pána Ježiša Krista 
	ako svojho osobného Spasiteľa a Pána.</p> 

<p>Spoznali sme, že bez obete Pána Ježiša na Golgotskom kríži by sme neobstáli, 
	keď raz Boh bude uplatňovať svoju spravodlivosť. Biblia, Božie slovo, totiž hovorí, že každý človek 
	zhrešil a&nbsp;niet nikoho, ktorý by svojím životom a skutkami uspokojil Božie nároky.</p> 

<p>Je napísané: "Lebo odplatou za hriech je smrť, ale darom Božím 
	z&nbsp;milosti je večný život v&nbsp;Kristu Ježišovi, v našom Pánovi." (List Rimanom 6, 23). 
	Svätý Boh ponúka vo svojom Synovi odpustenie hriechov a&nbsp;večný život každému, kto Mu uverí, 
	vyzná svoj hriech a&nbsp;svoje viny a&nbsp;odovzdá svoj život do Jeho rúk.</p>

<p>Srdečne vítame každého, kto túži po poznaní pravdy, ktorú Pán Boh nechal zapísať vo svojom slove.</p>

<p>"Amen, amen vám hovorím, že ten, kto čuje moje slovo a&nbsp;verí tomu, 
	ktorý ma poslal, má večný život a&nbsp;nepríde na súd, ale prešiel zo smrti do života." (Evanjelium Jána 5, 24)</p>
