<h2 class="noIndent">Kresťanský zbor v Prievidzi</h3>
<p class="without_indent">Nájdete nás na Ulici Š. Závodníka 6, 971 01 Prievidza.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d695.2778683149785!2d18.6096311423154!3d48.7758844920125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4714dce8ed88cfdb%3A0x7ecaf7e24d49e09f!2sKres%C5%A5ansk%C3%BD+zbor+v+Prievidzi!5e0!3m2!1ssk!2ssk!4v1465565615394" width="600" height="300" style="border:0; width: 90%" allowfullscreen></iframe>
<br>
<img src="resources/zhromazdenie.jpg" style="margin-top: 20px; width: 100%" alt="Fotografia Kresťanského zboru v Prievidzi">
<p class="without_indent">E-mail: <a href="mailto:kzprievidza@kzprievidza.sk" >kzprievidza@kzprievidza.sk</a>
<br>Administrátor stránky: <a href="mailto:admin@kzprievidza.sk" >admin@kzprievidza.sk</a></p>
<h2 id="lehota" class="noIndent">Kresťanský zbor v Lehote pod Vtáčnikom</h3>
<div>	
	<ul class="mainList">
		<li>Adresa: Ul. 4. apríla 986/57, 972 42 Lehota pod Vtáčnikom</li>
		<li>Nedeľa (okrem 4. nedele v mesiaci)
			<ul class="innerList">          
				<li>10:00 - 11:30 Slávenie Pánovej pamiatky</li>
				<li>14:00 - 15:00 Výklad Písma a zvestovanie evanjelia</li>
			</ul>
		</li>
		<li>Streda
			<ul class="innerList">          
				<li>18:00 - 19:00 Výklad Písma (v období letného času 19:00 - 20:00)</li>				
			</ul>
		</li>
		<li>Piatok
			<ul class="innerList">	
				<li>18:00 - 19:00 Modlitby (v období letného času 19:00 - 20:00)</li>
			</ul>
		</li>				
	</ul>		
</div>
<h2 id="kostolany" class="noIndent">Kresťanský zbor v Zemianskych Kostoľanoch</h3>
<div>	
	<ul class="mainList">
		<li>Adresa: Partizánska 182, 972 43 Zemianske Kostoľany</li>
		<li>Nedeľa (okrem 4. nedele v mesiaci)
			<ul class="innerList">          
				<li>9:30 - 10:30 Slávenie Pánovej pamiatky</li>
				<li>11:00 - 12:00 Výklad Písma a zvestovanie evanjelia</li>
			</ul>
		</li>
		<li>Streda
			<ul class="innerList">          
				<li>17:30 - 18:30 Výklad Písma</li>				
			</ul>
		</li>
		<li>Piatok
			<ul class="innerList">	
				<li>17:30 - 18:30 Modlitby</li>
			</ul>
		</li>				
	</ul>		
</div>