<ul class="mainList mobileShow">
	<li>Nedeľa*
		<ul class="innerList">          
   			<li>9:00 - 10:30<br> Slávenie Pánovej pamiatky</li>
           	<li>13:00 - 14:00<br> Výklad Písma a zvestovanie evanjelia</li>
        </ul>
    </li>
    <li>Utorok
       	<ul class="innerList">          
           	<li>17:00 - 18:00<br> Výklad Písma</li>
        </ul>
    </li>
    <li>Štvrtok
  		<ul class="innerList">	
  			<li>17:00 - 18:00<br> Modlitby</li>
   		</ul>
   	</li>
	<li><br></li>
	<li>* 4. nedeľa v mesiaci: <br>Jedáleň Polstrav na Ul. Š. Králika
		<ul class="innerList">
			<li>10:00 - 11:30<br> Slávenie Pánovej pamiatky</li>
			<li>13:00 - 14:45<br> Výklad Písma a zvestovanie evanjelia</li>
		</ul>
	</li>			
</ul>

<p>K&nbsp;pravidelným spoločným zhromaždeniam sa stretávame podľa vzoru prvých kresťanov. 
	O nich je napísané: "A&nbsp;zotrvávali v&nbsp;učení apoštolov a&nbsp;v&nbsp;spoločnom 
	bratskom obcovaní a&nbsp;pri lámaní chleba a&nbsp;na modlitbách." (Skutky apoštolov 2. 42)</p>

<p>Počas zhromaždenia k&nbsp;sláveniu pamiatky Pána Ježiša Krista, ktoré sa koná každú nedeľu 
	dopoludnia oslavujeme nášho Spasiteľa a&nbsp;ďakujeme mu za obeť,
	 ktorú za nás priniesol. Okrem toho je súčasťou pamiatky aj spoločné lámanie 
	 chleba a&nbsp;pitie z&nbsp;kalicha, podľa toho, ako to ustanovil náš Pán pri 
	 poslednej večeri so svojimi učeníkmi pred jeho smrťou na kríži.</p>

<p>Popoludňajšie nedeľné zhromaždenie je venované výkladu Božieho slova a&nbsp;zvestovaniu evanjelia, 
	teda radostnej zvesti o&nbsp;spasení, ktoré Boh ponúka vo svojom Synovi.</p>

<p>Cieľom biblického zhromaždenia v&nbsp;utorok je postupné čítanie a&nbsp;vzdelávanie sa z Božieho slova. 
	V&nbsp;tomto období preberáme Evanjelium podľa Lukáša.</p>

<p>Na modlitebnom zhromaždení, každý štvrtok, venujeme po kratšom úvodnom uvažovaní 
	nad Božím slovom čas modlitbám k&nbsp;nášmu Bohu, teda vďačnosti za spasenie, 
	za Božiu starostlivosť o&nbsp;nás v&nbsp;každodennom živote, ale aj prosbám o&nbsp;Jeho milosť
	 a&nbsp;pomoc do našich dní. Modlíme sa i&nbsp;za nadriadených, za pokoj na zemi 
	 a&nbsp;za duchovné i&nbsp;pozemské blaho národov.</p>

<p>Pre informáciu o&nbsp;zhromaždení mládeže nám prosím <a href="mailto:kzprievidza@kzprievidza.sk">napíšte</a>.</p>

<p>Počas našich zhromaždení nie je duchovná činnosť vyhradená len pre 
	určených "kňazov" či "kazateľov", ale vykonávajú ju všetci veriaci v&nbsp;Pána Ježiša 
	v&nbsp;súlade so zásadami uvedenými v&nbsp;Božom slove a&nbsp;s&nbsp;osobným obdarovaním Svätým Duchom.</p>
	
<p>Podobne ako v Prievidzi sa schádzajú aj veriaci v zhromaždeniach v <a href="/kontakt#lehota">Lehote pod Vtáčnikom</a> a v <a href="/kontakt#kostolany">Zemianskych Kostoľanoch</a>.</p>