<div id="casy">	
		<ul class="mainList">
			<li>Nedeľa*
				<ul class="innerList">          
					<li>9:00 - 10:30<br> Slávenie Pánovej pamiatky</li>
					<li>13:00 - 14:00<br> Výklad Písma a zvestovanie evanjelia</li>
				</ul>
			</li>
			<li>Utorok
				<ul class="innerList">          
					<li>17:00 - 18:00<br> Výklad Písma - Evanjelium Lukáša</li>
				</ul>
			</li>
			<li>Štvrtok
				<ul class="innerList">	
					<li>17:00 - 18:00<br> Modlitby</li>
				</ul>
			</li>
			<li><br></li>
			<li>* 4. nedeľa v mesiaci: <br>Jedáleň Polstrav na Ul. Š. Králika
				<ul class="innerList">
					<li>10:00 - 11:30<br> Slávenie Pánovej pamiatky</li>
					<li>13:00 - 14:45<br> Výklad Písma a zvestovanie evanjelia</li>
				</ul>
			</li>		
			<li><br></li>
			<li>Nájdete nás na Ul. Š. Závodníka 6 v&nbsp;Prievidzi.</li>
		</ul>		
</div>